//- [Pug 문법] extends를 통해 html 레이아웃을 base.pug 코드로부터 상속받음
//- [Pug 문법] block을 통해 base.pug 레이아웃 기반으로 html 내용 재구성

extends base.pug

block content
  //- h1 watching pug video #{idVideo};
  
  //- ??? mvp.css 패딩 마진 속성 문제로 추정

  video(src='/' + video.fileUrl, controls)

  //- [ Pug 문법 + JavaScript문법 ] 삼항연산자를 활용해 영문법 단수view / 복수views 단위 구분함
            //- h3 #{video.views} #{video.views < 2 ? "view" : "views"}
  div
    p=video.description
    small=video.createdAt
  
  //- videoRouter에서 edit 페이지 라우트 경로는 동영상 개별 id의 하위 경로로 설정했었음
  //- absolute & relative URL 개념: 경로 설정시 앞머리에 슬래쉬(/) 표기 여부에 따라 절대주소 또는 상대주소 성격을 부여할 수 있음
  a(href=`${video.id}/edit`) Edit Video &rarr;
  br
  a(href=`${video.id}/delete`) Delete Video &rarr;
  